<a href="https://colab.research.google.com/github/Arjun1250/Arjun-Rathnan-assignment-1/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
 
#question1
print('Name;Arjun.Rathnan')
print('Address:Chathamangalam, Calicut')
print ('mobile no :8330080056')

Name;Arjun.Rathnan
Address:Chathamangalam, Calicut
mobile no :8330080056

In [ ]:
 
#q2
name=input('Enter your name;')
print('your name is',name)

Enter your name;Arjun Rathnan
your name is Arjun Rathnan

In [ ]:
 
#q3
lenght=float(input ('Enter the lenght of the rectangle'))
breadth=float(input ('Enter the breadth of the rectangle'))
area=lenght*breadth
print('Area of the rectangle is',area)

Enter the lenght of the rectangle10
Enter the breadth of the rectangle5
Area of the rectangle is 50.0

In [ ]:
 
#q5
radius=float(input('Enter the radius of the citcle',))
area=3.14*radius*radius
print('Area of the circle=',area)

Enter the radius of the citcle10
Area of the circle= 314.0

In [ ]:
 
#q6
name=input('Enter your name' )
age=input ('Enter your age' )
print('Name',name,'Age',age)

Enter your nameArjun Rathnan
Enter your age19
Name Arjun Rathnan Age 19

In [9]:
 
#q7
number=float (input('Enter a number'))
number=number+1
print('One added to the entered number is',number)

Enter a number10
One added to the entered number is 11.0

In [ ]:
 
#q8
name=input('Enter first name ')

Enter first name Arjun